[2017-08-25 05:44] iamsalnikov opened #1 "linkedin-client.com сейчас продается"
В исходниках либы есть ссылка на linkedin-client.com, который доступен для покупки. Не успел еще обзавестись им, или это какой-то местный проблем?

![image](https://user-images.githubusercontent.com/3082586/29700995-95712662-8971-11e7-83ba-e62a493d4814.png)

[2017-08-25 05:55] iamsalnikov commented on #1
Также в некоторых файлах есть ссылка, переход по которой ведет на 404:

![image](https://user-images.githubusercontent.com/3082586/29701226-1ce6cf74-8973-11e7-9670-709c156e4baf.png)

[2017-08-25 13:27] zoonman commented on #1
Спасибо Леша! Исправим!

[2017-08-26 02:33] #1 closed

[2017-10-03 10:54] mvcmaker opened #3 "DotEnv class not found"
Hi,
there's no way to execute the index.php file due it fails when load the DotEnv/DorEnv class, due does not exists, and I followed all the documentation.
How is the way to fix this?

[2017-10-03 12:40] iamsalnikov commented on #3
@mvcmaker did you run `composer install` from project's root?

[2017-10-03 13:45] mvcmaker commented on #3
No, documentation doesn't tell that you need to do that. I've done it just now, from the root rirectory which contains vendor/, src/ examples/ and tests/ folders, the result is the same:
[code]
Besides that, I've changed the use of the failing loading class Dotenv by the next chunk of code:

[code]
The result is now that the code executes fine but when I try to load the redirectUrl, the result is

[2017-10-03 16:10] mvcmaker commented on #3
Hi,
there was an error while maging the putenv() calls. Due the call to file() function doesn't include the skip new lines, the return carriage data was appended to the end of the client id and passed as the result url calling, so was an erroneus client id.
The working code now results as here:

[code]

[2017-10-03 16:10] #3 closed

[2017-10-03 17:32] mvcmaker opened #5 "Fatal error produced when calling"
In file examples/index.php, when you get the qs GET variable for code, used for exchnage tokens and get the access token, a fatal error is procuded with the next information when calling the getAccessToken() Client's method:

Where can I get the stack trace to see why a null is returned and can be the main cause that linkedin requires the use of SSL protocol an this library is not prepared to use

[2017-10-03 17:50] zoonman commented on #5
This library perfectly works with TLS/SSL.
This demo page works using https https://www.zoonman.com/projects/linkedin-client/demo/
You already have stack trace.
There is no `qs` GET variable.

[2017-10-03 18:00] mvcmaker commented on #5
Hi,
I'm attaching you the index.php file that I'm using. The fail is produced on line 71. The first step for authentication works fine, though my redirect url is http://localhost:8080, and yours is https. Could be this the main casuse of the fail?

[index.zip](https://github.com/zoonman/linkedin-api-php-client/files/1353341/index.zip)
I send you too the first step link you need to get the users pe

[2017-10-03 18:58] zoonman commented on #5
Did you set redirect URIs for your app?

<img width="490" alt="screen shot 2017-10-03 at 2 58 05 pm" src="https://user-images.githubusercontent.com/576297/31143427-5344e1b8-a84b-11e7-97ac-54ff0f666662.png">

[2017-10-04 03:24] zoonman commented on #5
Please, revert your changes in `examples/index.php` file. It just works.
Here is video proof https://www.youtube.com/watch?v=TESP_TlZsxA

`index.php` with your changes will not work because you are trying to retrieve token second time.
If you do not know how OAuth 2.0 supposed to work, please, read this https://tools.ietf.org/html/rfc6749 or, if it is too complicated, simplified version of it http

[2017-10-04 09:05] mvcmaker commented on #5
Yes, authorized redirect urls were correctly set.

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Libre
de virus. www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

2017-10-03 20:58 GMT+02:00 Philipp <notifications@gith

[2017-10-04 09:33] mvcmaker commented on #5
When I try to execute the index.php from examples i get always the same error, i have to comment the use of Dotenv class and call directly Client constructor with hardcoced keys:

[2017-10-04 09:56] mvcmaker commented on #5
Besides that, when I try to install all again (I first clone the git repostorey and than I apply the composer installation), it is not possible due I get the next error:
[code]

[2017-10-04 10:51] mvcmaker commented on #5
Closed! Finally I've found the problem. The problem was the next:
First you need to clone the git repository, after do that you only need to exceute
computer install
intead of
computer require zoonman/linkedin-api-php-client
The second command doens't buid fine the directory structure and dependencies and this was my fail.
Thanks a lot zoonman for your help and your time spent to record the youtub

[2017-10-04 10:51] #5 closed

[2017-10-04 14:20] zoonman commented on #5
@mvcmaker When you do `composer require zoonman/linkedin-api-php-client` it will install the library as composer dependency. It is useful when you build your own project.
You have to learn more about Dependency Management http://www.phptherightway.com/#dependency_management and Composer itself. I strongly recommend you to read the whole phptherightway.com website. It will help you to improve your

[2017-10-04 14:26] mvcmaker commented on #5
Thanks a lot again @zoonman the I will take into account all the url's you give me to learn more about oatuh2 and later from composer. The problem is that I have not enough time, our company is close to bankrupt and we must implement all the social networks api (facebook, twitter, google, linkedin, instagarm, whatsapp and telegram) before few weeks and we're at the beginning :(. But I'd like to le

[2017-10-05 08:20] mvcmaker opened #6 "RequestException produced on getAccessToken method"
Hi,
when I try to execute the oauth2 proces (with the examples/index.php page), it throws the next RequestException when I execute as request uri http://localhost:8080:

This is a fragment of the var_dump of the exception variable, I do not post the whole variable due is very long and contains client_secret keys.
Besides that the code fails, due is passed to responseArray a null object ($ex->getRe

[2017-10-05 13:20] zoonman commented on #6
Your problem is related to the lack of  Certificate Authority (CA) bundle.
Please, read answer here  https://stackoverflow.com/questions/29822686/curl-error-60-ssl-certificate-unable-to-get-local-issuer-certificate

[2017-10-05 14:24] mvcmaker commented on #6
I think there's something related with the local server developer configuration. The problem is that the solution this post you give me is only available by xampp server, and I'm using wamp only. I'll try to replicate the steps on wamp, probably it works and I let you know.
Many thanks @zoonman !

Dani

[2017-10-05 15:35] zoonman commented on #6
This problem is not related to WAMP/XAMP. This problem is related to PHP configuration, Curl specifically. https://stackoverflow.com/questions/21114371/php-curl-error-code-60

[2017-10-05 16:31] mvcmaker commented on #6
Wow! Accoriding to this post, is very asy to solve, really? You only have to download a valid certificate and link it in php.ini and that's all. Let me to test, @zoonman but until tomorrow morning I will not do it, due I'm working now in my second company, in the UAB, I'll give you my feedback tomorrow. Many thanks again!

[2017-10-05 21:12] mvcmaker commented on #6
Hi @zoonman !
It worked! By adding simply the curl.cainfo line to my php.ini configuration, that's all to work. The only problem is that when you execute the php command to open the server directly from command line as follows

then the php.ini loaded not is the same that points the wamp apache, is other there are in wamp/bin/php/php7.1.8 and the best practice is to update everywhere you find a ph

[2017-10-05 21:12] #6 closed

[2017-10-05 22:55] zoonman commented on #6
You can run this command to view the other php.ini

[code]

[2017-10-10 13:12] mvcmaker opened #7 "An issue when working linkedin api from CLI php program"
Hi @zoonman ,
My goal is to achieve to work via command line with linkedin api, si my first approach is that I've modified your examples/index.php file to stop the code execution when arrives the code variable. This is the little modification I've done:

[code]

Is just a s imple conditional to stop the use of the exchange token information, as you can see, because my goal is just copy and pcaste

[2017-10-10 16:05] zoonman commented on #7
Yes, in CLI you will not have redirect_uri. There is no flow for CLI implementation whatsoever.
The best approach it is to do a regular OAuth flow and store token to a file or database after you have finished linking.
Next, you will need to load token from file and setup new token.

You need save token at this line https://github.com/zoonman/linkedin-api-php-client/blob/master/examples/index.php#L

[2017-10-10 16:08] zoonman commented on #7
Don't forget to include
[code]

[2017-10-10 16:17] mvcmaker commented on #7
Many thanks @zoonman,
My next approach will be now to serlialize the accessToken objet to include it in my custom Linkedin class for work on CLI and using it.
Can I ask you some new questions related on what can be with this access token? My next process will be to refresh with a cron the access token in order to have it all the time not expired and can interact all the time I need with linkedin a

[2017-10-10 16:26] zoonman commented on #7
You won't be able to refresh token by cron because you have to go through the oauth flow again.
Token expires in 60 days https://developer.linkedin.com/docs/oauth2

You can signup here https://www.linuxquestions.ru/english
Go to https://www.linuxquestions.ru/users/zoonman and click Ask Privately.
Next fill out details and we can there.

[2017-10-10 16:27] mvcmaker commented on #7
Many thanks again @zoonman,
I'll try to disturb you the less as possible.

[2017-10-10 16:27] #7 closed

[2017-10-11 08:36] mvcmaker commented on #7
Hi @zoonman,
I use something similar like you but adding an improvement, I've just put the serialized object in the token file with serialize() function, the I've get by calling the unserialize() and then I've just got the object itself and no new AccessToken() call was needed. Just when you set the $client->setAccessToken() with the unserialized object itself, worked perfectly.
Thanks again,
Dani

[2017-10-18 18:38] mvcmaker commented on #7
Many thanks again @zoonman,
I'll try to disturb you the less as possible.

[2017-10-22 00:37] said-java opened #9 "$linkedIn->setAccessToken('access_token_from_db');"
$linkedIn->setAccessToken('access_token_from_db');

Fatal error: Uncaught Error: Call to a member function getToken() on string in /home/104455.cloudwaysapps.com/gkbdhdrmcr/public_html/vendor/zoonman/linkedin-api-php-client/src/Client.php:335 Stack trace: #0 /home/104455.cloudwaysapps.com/gkbdhdrmcr/public_html/vendor/zoonman/linkedin-api-php-client/src/Client.php(410): LinkedIn\Client->api('peopl

[2017-10-22 08:56] iamsalnikov commented on #9
@said-java as I understand, you have to pass to `Client::setAccessToken()` instance of `\LinkedIn\AccessToken`:

[code]

[2017-10-22 17:04] said-java commented on #9
@iamsalnikov
// ... please, add composer autoloader first
include_once __DIR__ . DIRECTORY_SEPARATOR . 'vendor' . DIRECTORY_SEPARATOR . 'autoload.php';

// import client class
use LinkedIn\Client;

// instantiate the Linkedin client
$client = new Client(
    'LINKEDIN_APP_CLIENT_ID',
    'LINKEDIN_APP_CLIENT_SECRET'
);
$acesstoken="xxxxxxxxxxxxxxx";
$client->setAccessToken($acesstoken);
response:

[2017-10-22 18:32] iamsalnikov commented on #9
@said-java where did you find such way for setting up access token? I did not find same words in documentation.

@zoonman maybe we have to add something like typehinting to `LinkedIn\Client::setAccessToken()` method? And describe in readme how to set up previously saved token?

[2017-10-23 01:01] zoonman commented on #9
@iamsalnikov I updated readme. I think, I need to add type handling there.
I think passing of object is complicated for newbies and I have to instantiate AccessToken object dynamically.

[2017-10-23 01:12] zoonman commented on #9
@said-java read [readme](https://github.com/zoonman/linkedin-api-php-client/blob/master/README.md). I have it updated.
Also, you can update the library. Read Composer's documentation https://getcomposer.org/doc/ if you are not familiar with that.

[2017-10-23 01:12] #9 closed

[2017-10-24 12:16] said-java commented on #9
@zoonman im expert in php

thanks.....

[2018-01-02 17:39] reinhacker opened #14 "Fatal error: getBody() on null"
Hi there,
following the given example, I get the following error, running only the following part of the example:

`  $profile = $client->get('people/~:(id,email-address,first-name,last-name)');
   pp($profile); // print profile information`

The error occurs after a user confirms access to LinkedIn within the LinkedIn confirmation screen.

[2018-01-02 19:11] zoonman commented on #14
Do you have tokens and keys in place?
I just ran it locally and it did work.

[2018-01-03 13:57] zoonman commented on #14
@reinhacker could you provide code sample?

[2018-01-05 17:25] reinhacker commented on #14
Sure, here's the code. Everything was installed using composer. Just replaced the environment files with client id / secret and removed the post requests:

`include_once 'vendor/autoload.php';

            // import client class
            use LinkedIn\Client;
            use LinkedIn\Scope;

            session_start();
            // instantiate the Linkedin client
            // you can setup

[2018-01-06 14:47] reinhacker commented on #14
Alright, I could fix the problem for myself. It was not an issue with the code, but with a missing ssl certificate setup within my php.ini which leads to an invalid request and therefore leads to $response being null ;-)

[2018-01-08 03:13] zoonman commented on #14
It is all right. Wrong PHP configuration led to the issue. Closing the ticket.

[2018-01-08 03:13] #14 closed

[2018-01-13 05:06] jramirezgranada opened #15 "getAccessToken invalid request"
Hi,

So I've been testing your library but I need to work with linkedin v2, to get access token in v2 you would need to change the request in the getAccessToken, according to the linkedin documentation this url https://www.linkedin.com/oauth/v2/accessToken allow only post request method.

Have you thought to change that request method or validate the api version that developer is using ?

Thanks.

[2018-01-13 15:08] zoonman commented on #15
Thank you!. I will check on it this night.

[2018-01-13 19:47] zoonman commented on #15
Fixed in version #0.0.11.

[2018-01-13 19:49] #15 closed

[2018-02-23 23:29] sarhugo opened #16 "Enable delete method"
Hi, I'm trying to make a delete request (to delete a share item) but only GET and POST methods are allowed. Is there any special reason to prevent this method?

https://developer.linkedin.com/docs/guide/v2/shares/share-update-and-delete-api#delete

Thanks

[2018-02-25 06:03] #16 closed

[2018-02-27 12:05] sydev opened #18 "json_decode_error on api call"
I ran in an issue when I want to fetch data from the api.
My code looks like this:

`
$response = $client->get("/people/~:(id,picture-url,formatted-name,public-profile-url)");
`

and it throws an error:

![bildschirmfoto 2018-02-27 um 13 04 35](https://user-images.githubusercontent.com/11978927/36727788-d343a340-1bbe-11e8-8651-079593563556.png)

[2018-02-27 12:54] sydev commented on #18
IIt was my fault: Removing the leading slash in the url solves this issue.

My code looks like this now:

`$response = $client->get("people/~:(id,picture-url,formatted-name,public-profile-url)");`

[2018-02-27 12:54] #18 closed

[2018-03-23 00:43] sarhugo opened #19 "Validation on filename while upload"
Doing an image upload with file name: "Screenshot 2018-03-22 18.13.51.png" I received the following error from linkedin:

`Invalid file name: Screenshot 2018-03-22 18.13.51.png (Code: 400)`

Trying with different names I discovered that the problem was the dots in file name. Uploading as "Screenshot 2018-03-22 18-13-51.png" it worked fine.

Maybe SDK should preprocess the filename before sending i

[2018-03-23 14:43] zoonman commented on #19
I think you have to open a bug report with LinkedIn API team.
The dots in the filename are totally legitimate symbols in all modern OS and filesystems.
To the extent of my knowledge, file upload is the part of LinkedIn partner program for which you actually have to pay money. If you pay them they **must provide a support**.

[2018-03-23 14:53] sarhugo commented on #19
Hi @zoonman, actually upload api is part of v2, which is free. It's access is granted by applying to their partner program but I haven't pay for it.

I agree with you that it's an API bug, but there isn't any way to report a bug to them. The only official support channel is stackoverflow (but I never get a reply from them)

I'll keep my fork to have it working for my clients

[2018-03-23 15:09] zoonman commented on #19
I tried to get access to their Partner program but didn't succeed even we are enterprise grade company with hundreds employees.

[2018-03-23 15:12] sarhugo commented on #19
It took about 1 month to get reply from them when applying ¯\_(ツ)_/¯

[2018-03-23 15:18] zoonman commented on #19
I used to apply a year ago, nobody gets back to me.

[2018-03-29 02:29] #19 closed

[2018-04-28 14:39] mafadotaiu opened #21 "How to get Company Profile fields"
# What? Where? When?

When you are going to report a new issue, include the following information

1. Environment
2. Steps to reproduce

[2018-05-02 21:58] zoonman commented on #21
I'd recommend to get yourself familiar with the documentation here https://developer.linkedin.com/docs/company-pages#company_profile

It should look like this:
[code]
Where `123` is your company.

[2018-05-09 16:14] RomeoDavide91 opened #22 "BUG syntax error"
# What? Where? When?

in php file in this row:
$linkedIn=new LinkedIn\Client($oauthToken,$oauthSecret);

response with status 500

<b>Parse error</b>:  syntax error, unexpected 'function' (T_FUNCTION), expecting identifier (T_STRING) or \\ (T_NS_SEPARATOR) in <b>/vendor/zoonman/linkedin-api-php-client/src/Client.php</b> on line <b>22</b><br />

cause of error:
<b>use function</b> GuzzleHttp\Psr7\b

[2018-05-10 08:57] augustinejenin opened #23 "Bug syntax error"
It was working in php 7.
When tried to impliemnt this in php 5.6 I got an error "syntax error, unexpected 'function' (T_FUNCTION), expecting identifier (T_STRING) or \\ (T_NS_SEPARATOR) in vendor/zoonman/linkedin-api-php-client/src/Client.php on line 22"
line number 22 is this "use function GuzzleHttp\Psr7\build_query"

[2018-05-10 15:05] zoonman commented on #23
Duplicate of #22

[2018-05-10 22:17] RomeoDavide91 commented on #22
@zoonman What is the estimated time to fix the bug?

[2018-05-10 22:18] zoonman commented on #22
I'll look into it this night.

[2018-05-11 03:30] zoonman commented on #22
This not a bug, please, upgrade to PHP v5.6. You are using deprecated PHP version.

[2018-05-11 03:30] #22 closed

[2018-05-11 03:30] zoonman commented on #23
This not a bug, please, upgrade to PHP v5.6. You are using deprecated PHP version.

[2018-05-11 03:30] #23 closed

[2018-05-11 03:55] #21 closed

[2018-05-11 10:31] RomeoDavide91 commented on #22
But, I already have a latest version of PHP

[2018-05-11 13:45] zoonman commented on #22
@RomeoDavide91, which is your PHP version?

[2018-05-11 14:20] zoonman commented on #22
I assume you are using PHP 5.5.
This library is going through automated tests with PHP 5.6 and PHP 7.0, hhvm and nightly PHP builds.

[2018-05-11 16:45] RomeoDavide91 commented on #22
I have this version:
PHP 7.2.4-1+ubuntu14.04.1

Not a compatible version?

[2018-05-11 17:30] zoonman commented on #22
This is very interesting, it did pass tests here https://travis-ci.org/zoonman/linkedin-api-php-client/jobs/377754536#L437

Are you sure it is using PHP 7.2.4?
Try to add the following line and check results:
[code]
This is 100% legit code for PHP 7.2.4.

[2018-06-08 08:18] rwilliam opened #24 "Your requirements could not be resolved to an installable set of packages."
I have try to installed using composer on php 7  and it's give me error .Please check below message

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - The requested package zoonman/linkedin-api-php-client No version set (parsed as 1.0.0) could not be found.

Potential causes:
 - A typo in the package name
 - The package is not available in a stable-enoug

[2018-06-15 21:23] jeromepissis opened #25 "Post video"
Hi,

Thanks for you code.
How can I use it if I want to post a video ? (For picture and text it's work)

Many thanks for your help.

[2018-06-18 19:37] zoonman commented on #24
This is how it looks for me:

<img width="608" alt="screen shot 2018-06-18 at 15 35 59" src="https://user-images.githubusercontent.com/576297/41557987-6c6cb782-730d-11e8-9c68-30c7bb7fa345.png">

Which composer version are you using?

[2018-06-18 19:46] zoonman commented on #25
Hi!
Try to share a link to Youtube video, it should work.
Also, you can try to upload your video to some storage like S3 and provide a direct link to the file.
File should be in web-optimized mp4 format (you will need to [move moov atom](https://ffmpeg.org/ffmpeg-formats.html#mov_002c-mp4_002c-ismv)).

[2018-08-03 05:50] KrishnaVishwakarma1595 commented on #25
Hi,

I am also trying to post a video but it doesn't work, neither for youtube video nor for my video if I upload any. Can you please explain how can I post it using the above method that you have told. Is there any other endpoint or attribute to post a video.

Many thanks for your help.

[2018-09-03 12:56] kadnan opened #26 "How to get public profile of someone else?"
LinkedIn provide [option](https://developer.linkedin.com/docs/guide/v2/people/profile-api#public-profile-url) to access someone else profile details. How can I use the library to perform this operation as given here `https://api.linkedin.com/v2/people/(id:{person ID})`

[2018-09-03 15:46] zoonman commented on #26
Adnan, you have to switch to v2 and provide custom headers:

[code]
Make sure your application has access to this portion of API.

[2018-10-17 11:53] ajaiau opened #27 "When i open linked in link ,i cant open?"
![linkedin](https://user-images.githubusercontent.com/23625907/47084517-4fde4f80-d231-11e8-8be0-3aeb8a248177.png)
# What? Where? When?

When you are going to report a new issue, include the following information

1. Environment
2. Steps to reproduce

[2018-10-17 12:57] zoonman commented on #27
You might run into some LinkedIn issues.
If the same happens with demo https://www.zoonman.com/projects/linkedin-client/demo/ - this is some outage in your area.

[2018-10-18 19:37] zoonman commented on #27
@ajaiau try demo. Does it work for you?

[2018-10-18 19:38] zoonman commented on #26
@kadnan any luck?

[2018-10-21 18:13] kadnan commented on #26
@zoonman I did not try as the required api was not free

[2018-10-22 05:52] ajaiau commented on #27
my redirect url is localhost:https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=---myClientID--&redirect_uri=http%3A%2F%2Flocalhost%3A8901%2F&state=NWJjZDVmM2YyZTAyODAuNjU1NTI4MzI&scope=r_basicprofile%20r_emailaddress%20rw_company_admin%20w_share
is that why the problem.

[2018-10-22 06:14] ajaiau commented on #27
im using the localhost to test this :https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id=---myID------&redirect_uri=http%3A%2F%2Flocalhost%3A8901%2F&state=NWJjZDZhN2IyOTYxMjguMjMzMzU0MDg&scope=r_basicprofile%20r_emailaddress%20rw_company_admin%20w_share

is thats why the problem.

[2018-10-22 06:15] ajaiau commented on #27
is this possible to get all company information from linkedin using this api.

[2018-10-22 06:34] ajaiau commented on #27
how to search company using this access token?

[2018-10-22 13:17] zoonman commented on #27
@ajaiau You can get company information using this API https://developer.linkedin.com/docs/company-pages#company_profile Updates and statistics is for admins only.

Regarding search - I haven't seen any API for that. Maybe it is available through Partner API but I don't have access to this program.

[2018-10-24 14:29] gkarthikeyanmca opened #28 "How to get Refresh Token?"
Hello Zoonman,

Is there anyway we can have functions for following?

1. Get refresh token (https://developer.linkedin.com/docs/Refresh-Tokens-with-OAuth-2)
2. Exchange refresh token for a new access token, if access token is expired.

I am facing token expired error. Need to find a solution to fix this automatically.

Also i see there is no mention of refresh tokens anywhere in the SDK, if you ca

[2018-10-24 17:32] zoonman commented on #28
Hi Karthikeyan,
So far there is no support of refresh tokens in the current implementation.
Unfortunately I don't have partner's access therefore I am unable to test this function. Per documentation it is available only for LinkedIn partners.
I can implement support of refresh token blindly and I need someone with partner access level to help testing this functionality.

[2018-10-24 17:35] zoonman commented on #26
Gotcha. Closing this issue.

[2018-10-24 17:35] #26 closed

[2018-10-25 03:08] gkarthikeyanmca commented on #28
I understand. Thanks for your time 👍

Closing ticket :)

[2018-10-25 03:08] #28 closed

[2018-12-17 18:32] pineapplestreet opened #30 "Sample code (index.php) broken on API v2"
Using the code provided in examples/index.php

Client error: `GET https://api.linkedin.com/v2/people/~:(id)` resulted in a `403 Forbidden` response:
{"serviceErrorCode":100,"message":"Not enough permissions to access: GET /people/~:(id)","status":403}

[2018-12-17 18:32] #30 closed

[2018-12-19 07:47] sayanb opened #31 "Unable to get companies for API version V2"
Hi,

I use this to get information about companies an authenticated user is an admin of:

[code]

This worked perfectly with V1. However, with V2, it gives a 400 not found error. I came across this: [https://developer.linkedin.com/docs/guide/v2/organizations/organization-lookup-api](url) but not exactly sure if this is the right endpoint, as there is no API call to exactly do what the above code s

[2018-12-19 20:31] sfatfarma commented on #31
Hello,

I am facing the same issue, am really stuck here:

``GET https://api.linkedin.com/v2/companies?is-company-admin=true` resulted in a `404 Not Found` response: {"serviceErrorCode":0,"message":"Resource companies does not exist","status":404} `

I already added to previously functional code, this part, with no effect:

[code]

Please help. Thank you.

[2018-12-19 20:36] sfatfarma commented on #31
@zoonman Also, no reference found in the new API docs about company API node... https://docs.microsoft.com/en-us/linkedin/shared/api-guide/concepts?context=linkedin/marketing/context ... :(

[2018-12-19 21:11] sfatfarma commented on #31
Ok, found it. Companies are called 'organizations' now...

https://developer.linkedin.com/docs/guide/v2/organizations/organization-lookup-api

Also, I need this node to get companies I am admin of:

https://api.linkedin.com/v2/organizationalEntityAcls?q=roleAssignee&role=ADMINISTRATOR&state=APPROVED

However, I am getting:

GET https://api.linkedin.com/v2/organizationalEntityAcls?q=roleAssignee&ro

[2018-12-19 22:30] zoonman commented on #31
Last time I tried v2 none worked for me. I suspect it depends on plan/membership or something like that.

[2018-12-20 04:02] sayanb commented on #31
LinkedIn is shutting V1 on 1st March, 2019, so V2 will be the default, it seems!

[2018-12-20 13:54] zoonman commented on #31
I tried to play around v2 API yesterday. I don't see a way to get list of owned organizations.

For example this https://api.linkedin.com/v2/organizationalEntityAcls?q=roleAssignee doesn't work. Returns 403 which means I don't have access.

[2018-12-21 22:11] sayopaul opened #32 "Authorization takes me to page with Bummer, something went wrong. We're having difficulty connecting error"
# authorization URL goes to Bummer, something went wrong , We're having difficulty connecting page .
Hey there . Awesome work here on this library however I run into an issue , when I click on the authorization URL generated by the library , it takes me to a page that says Bummer, something went wrong , We're having difficulty connecting.

I have done everything as suggested by the docs here https

[2018-12-21 22:13] zoonman commented on #32
Looks like an error coming from LinkedIn itself.
Try to run your stuff couple hours later.

[2018-12-21 22:15] sayopaul commented on #32
Wow , Thanks for the quick response . Alright I would try that . It has been happening for about three hours now , but I would try later and provide feedback . Thank you very much .

[2018-12-21 22:16] zoonman commented on #32
You can try the demo with my app https://www.zoonman.com/projects/linkedin-client/demo/ if it works double check your settings and make sure that redirectUrl is set correctly and your code is fine.

[2018-12-21 22:18] sayopaul commented on #32
It is strange but it works fine , however when I ran the demo script index.php in the examples folder it gave me the same Bummer error .

[2018-12-21 22:21] zoonman commented on #32
You should have something like this in your app settings.

<img width="860" alt="screen shot 2018-12-21 at 17 20 12" src="https://user-images.githubusercontent.com/576297/50365923-cc005680-0544-11e9-8620-755b6d7c8c94.png">

[2018-12-21 22:22] zoonman commented on #32
And you should list yourself as developer to on the "Roles" page.

[2018-12-21 22:58] zoonman commented on #32
Does it work now?

[2018-12-21 22:59] sayopaul commented on #32
Fixed ! It now works . Thank you so much . All I did was ensure that everything matched perfectly . The scopes in the URL and app page had to be the same and also I changed the redirect_uri from 127.0.0.1 to localhost and it works perfectly . Do I close the issue ?

[2018-12-21 23:01] zoonman commented on #32
Yes, please. Good luck & Merry Christmas!

[2018-12-21 23:05] sayopaul commented on #32
Thank you very much .

Same to you Sir ! 😁

[2018-12-21 23:05] #32 closed

[2018-12-23 07:55] sfatfarma commented on #31
After some searching around, I found a single stackoverflow comment that suggests that after submitting this form (and approval), they got the v2 api working: https://business.linkedin.com/marketing-solutions/marketing-partners/become-a-partner/marketing-developer-program

I submitted it also today, let's see what happens.

[2018-12-23 20:06] zoonman commented on #31
I used to apply before but haven't got approved. Good luck!
LinkedIn is insane bureaucratic company.

[2018-12-24 01:55] sayanb commented on #31
Hi @sfatfarma , would love to know how it went for you. I looked at that page, and right above the application form, it says _"We are currently accepting applications to access our Ad Technology, Marketing Analytics and Audience Management APIs. No application is required to access our basic Company Pages APIs."_

I thought this use case belongs to the Company Pages APIs, so no application is need

[2018-12-24 15:46] sfatfarma commented on #31
@sayanb I will let you know when they review my application.

Well, I think the v2 API falls entirely into a restricted category for some reason, because it is fully blocked right now for me... :)

[2019-01-03 19:16] snake2401 opened #33 "Marketing Developer Platform - API"
Is it possible to use this framework to make a Client Credential Flow in stead of a Authorization Code Flow? I need this for the  Marketing Developer Platform - API

[2019-01-03 21:30] zoonman commented on #33
Unfortunately Client Credential Flow is not supported right now.
It will be added in future versions.

[2019-01-04 15:00] #24 closed

[2019-01-19 09:35] sfatfarma commented on #31
No response from LinkedIn since then, I think they ignored my application for the v2 API.

[2019-01-19 14:33] zoonman commented on #31
The same has happened to me.

[2019-01-23 03:58] zoonman commented on #31
I will try to reach out to LinkedIn, maybe somebody will help.

[2019-01-23 06:33] sfatfarma commented on #31
If I can help with anything, let me know. :)
I really appreciate your efforts.

[2019-01-24 08:44] sfatfarma commented on #31
Prospective LinkedIn Marketing Developer,

Thank you for your interest in joining our Marketing Developer Program, your application for access has been received and reviewed.

Unfortunately we are not able to approve your request at this time.

-LinkedIn Marketing Developer Team

[2019-01-24 08:45] sfatfarma commented on #31
:\

[2019-02-08 07:29] sfatfarma commented on #31
Hello, @bgaze-cahri .

I am also struggling with the same issue, just that my API application was rejected.

Did you submit this form and got approved for it? [https://business.linkedin.com/marketing-solutions/marketing-partners/become-a-partner/marketing-developer-program](url)

Regards,
Szabi.

[2019-02-12 06:00] bgaze-cahri commented on #31
Hi @sfatfarma
Yes we did, and the app was approved, but I still have 403 response whenetrying to list pages I administrate.

[2019-02-12 09:38] sfatfarma commented on #31
Ok, understood. Thank you... :(

[2019-02-19 10:56] samoritano commented on #31
Hi, @bgaze-cahri .
Our app has been approved to access to API Version V2, so we're migrating all our current calls to V2 endpoints.

We can get the companies we manage (now they are called organizations) with this custom method:

[code]
It would return all your companies (after you set an access token, of course).

More information in https://docs.microsoft.com/en-us/linkedin/marketing/integration

[2019-02-20 12:19] rabebac commented on #31
@zoonman
hi @samoritano
please help thank you
I tried to upgrade V1 TO V2 just like you
            $client->setApiRoot('https://api.linkedin.com/v2/');
            $client->setApiHeaders([
                                    'Content-Type' => 'application/json',
                                    'x-li-format' => 'json',
                                    'X-Restli-Protocol-Version' => '2.0.0'

[2019-02-20 14:57] samoritano commented on #31
@rabebac , this Api endpoint method doesn't require to set the ApiHeaders to X-Restli-protocol-Version to '2.0.0'.

Please, read carefully the documentation, because you don't always need to change the default ApiHeaders. It always appears specified clearly if you need to do so.

https://docs.microsoft.com/en-us/linkedin/marketing/integrations/community-management/organizations/organization-access

[2019-02-28 23:55] albertleao commented on #31
You guys should take a look at the new scopes.

[2019-03-05 13:14] maxweber commented on #31
I'm also receiving a HTTP 403 for requests to 'organizationalEntityAcls?q=roleAssignee'. We have been approved for the new LinkedIn API v2. However I don't know what OAuth2 scope is required to make this request. The most helpful page I found regarding the scopes is:

https://docs.microsoft.com/en-us/linkedin/shared/references/migrations/marketing-permissions-migration

But even with the scope 'rw

[2019-03-13 16:07] vishalku2947 opened #37 "Call to undefined method GuzzleHttp\Psr7\Uri::composeComponents()"
After installing the library using composer, i am getting this error:

[code]

Can anyone help me here? Stuck here from many days.

[2019-03-14 12:18] zoonman commented on #37
It might be related to the used version of Guzzle. I will look at this when I will have time.

[2019-03-19 17:40] sfatfarma commented on #31
No progress neither from my part on this...

[2019-03-21 08:13] developer-avtargaur commented on #31
Fixed @maxweber @sfatfarma @bgaze-cahri  I was facing the similar issue. Our request was approved for using the LinkedIn Marketing Developer Program from [here](https://business.linkedin.com/marketing-solutions/marketing-partners/become-a-partner/marketing-developer-program) though it took like a month's time.

Anyway, ever after getting the permissions we were still getting the 403 errors we are

[2019-03-31 06:37] Devakki opened #38 "getbody_null()"
Fatal error: Uncaught Error: Call to a member function getBody() on null in C:\xampp\htdocs\linkdinauth2\src\Client.php:312 Stack trace: #0 C:\xampp\htdocs\linkdinauth2\src\Exception.php(84): LinkedIn\Client::responseToArray(NULL) #1 C:\xampp\htdocs\linkdinauth2\src\Exception.php(72): LinkedIn\Exception::extractErrorDescription(Object(GuzzleHttp\Exception\RequestException)) #2 C:\xampp\htdocs\link

[2019-03-31 06:40] Devakki opened #39 "get_body"
# What? Where? When?

When you are going to report a new issue, include the following information

1. Environment
2. Steps to reproduce

[2019-04-05 07:17] NermienEmad commented on #31
Hello guys
I am stuck at having the application approved ! I submitted the app more than a month with no answer any help ? :( we had a working app with v1 and now our app will be down .
We do need it fir our project not to be shutdowned

[2019-04-05 16:12] albertleao commented on #31
@nermienemad unfortunately LinkedIn has been slow to respond to the approval process. They only approved my application the day before the migration took place. They recently sent out an email saying that they extended the migration through May 1st. I hope they approve your request before then

[2019-04-14 22:16] rabebac commented on #31
This library is not using the v2 endpoints (only v1 api call)

[2019-04-15 10:25] rabebac opened #40 "V2 endpoint"
Client error: `GET https://api.linkedin.com/v2/organizationalEntityFollowerStatistics?q=organizationalEntity&organizationalEntity=urn:li:organization:2414183
` resulted in a `400 Bad Request` response: {"serviceErrorCode":0,"message":"Invalid query parameters passed to request","status":400}
This library is not using the v2 endpoints!

[2019-05-04 14:11] gkarthikeyanmca opened #41 "Guzzle conflict"
Hello Zoonman,

I have used your linkedin SDK in WordPress. It all went well till we installed Leadpages Connector plugin. The Guzzle in that plugin is conflicting with what we have in this SDK.

I couldn't connect linkedin account due to this conflict, during callback i get following error.

Fatal error: Uncaught InvalidArgumentException: No method can handle the form_params config key in /home/f

[2019-07-04 07:04] andrnimch commented on #40
It is possible to use this library with the LinkedIn API V2. You have just to set the API root `$client->setApiRoot('https://api.linkedin.com/v2/')`,  use proper [JSON structure](https://docs.microsoft.com/en-us/linkedin/consumer/integrations/self-serve/share-on-linkedin#create-a-text-share) to send a request and set the proper scope of permissions (EG. `w_member_social`, `r_liteprofile`, `r_email

[2019-07-22 21:24] mayorityz opened #42 "Fatal error: Uncaught GuzzleHttp\Exception\ClientException: Client error: `POST https://www.linkedin.com/oauth/v2/accessToken` resulted in a `400 Bad Request` response: {"error":"invalid_request","error_description":"Unable to retrieve access token: appid/redirect uri/code verifier does n (truncated...)"
1. Environment.

In my php environment, I am trying to get the access token with the $accessToken = $client->getAccessToken($_GET['code']) method...

but i get the error "Fatal error: Uncaught GuzzleHttp\Exception\ClientException: Client error: `POST https://www.linkedin.com/oauth/v2/accessToken` resulted in a `400 Bad Request` response: {"error":"invalid_request","error_description":"Unable to re

[2019-07-28 23:51] NeftaliAcosta opened #43 "How do I use the API to publish in groups?"
[code]

What parameter do I have to use?

[2019-07-29 00:28] NeftaliAcosta opened #44 "I try to follow the example to publish an article but it shows me this error:"
![image](https://user-images.githubusercontent.com/15948880/62015056-b3f15500-b16d-11e9-8df9-a8219670893f.png)

[code]

[2019-07-29 03:28] zoonman commented on #44
This is for v1 API. Sorry, I don't have much time to look into this now.
Please, follow official docs from here https://docs.microsoft.com/en-us/linkedin/consumer/integrations/self-serve/share-on-linkedin?context=linkedin/consumer/context

[2019-07-29 05:30] #43 closed

[2019-08-13 17:23] EnderGarcia commented on #42
Hey. I'm having the same problem. Got no idea yet on how to solve it.

[2019-10-18 19:57] munderwoods commented on #31
Has anyone got this sorted out? I just got access to the Marketing Developer Platform today, and am getting this same error.

[2019-10-30 12:55] mohanvvr commented on #42
Hello,

Anyone solved this getting the same error. Couldn't understand. Can anybody help me? @jjse where can i find the "li-src:msdk"? which readme doc in the zoonman folder of guzzlehttp folder? i don't see in my code. even I'm getting this error. Please help me

[2019-10-30 19:01] EnderGarcia commented on #42
@mohanvvr

Hi.

Well, I wish I could tell you how I solved this, but I think I didn't. I just made a manual way to log in to linkedin on a different controller. Sorry.

[2019-10-31 02:14] mohanvvr commented on #42
Hello everyone!

The issue has been solved and solution is We must to set the redirect URL before we get the access token. In this case we must set the redirect URL two times

Thanks

[2019-10-31 02:38] mohanvvr opened #45 "Fatal error: Uncaught GuzzleHttp\Exception\ClientException: Client error: `GET https://api.linkedin.com/v1/people/~:(id,email-address,first-name,last-name)` resulted in a `410 Gone` response: { "errorCode": 0, "message": "This resource is no longer available under v1 APIs", "requestId": "FY02RP79YZ", "s (truncated...) in"
Can anyone help me why I'm getting this following error while fetching the user profile information?

Fatal error: Uncaught GuzzleHttp\Exception\ClientException: Client error: `GET https://api.linkedin.com/v1/people/~:(id,email-address,first-name,last-name)` resulted in a `410 Gone` response: { "errorCode": 0, "message": "This resource is no longer available under v1 APIs", "requestId": "FY02RP79Y

[2019-11-05 13:40] mayorityz commented on #42
I built mine to do what I needed! But if you are having any issues, do try the solutions described above.

Cheers

[2019-12-30 17:36] #25 closed

[2020-01-01 05:40] 0xcrypto commented on #45
Package available on packagist is not updated and uses [LinkedIn  API v1 which is depreciated](https://engineering.linkedin.com/blog/2018/12/developer-program-updates). Look at ```vendor/zoonman/linkedin-api-php-client/src/Client.php```
[code]
if const API_ROOT is set as above, you are using old code.

You can install directly from github by changing your ```composer.json``` to
[code]
Then update

[2020-01-02 08:49] vijai1996 opened #47 "Use new Upload Media endpoint"
The Client currently uses an old [API endpoint](https://docs.microsoft.com/en-us/linkedin/marketing/integrations/community-management/shares/rich-media-shares#upload-images-using-media-upload-api-to-be-deprecated-by-january-30-2020) (`$client->upload()`) to upload images which would be deprecated from Jan 30 and causing the below error (assumption).

{"serviceErrorCode":100,"message":"Not enough p

[2020-01-17 02:29] #38 closed

[2020-01-21 13:54] nik-endozo commented on #45
I did update my package as like what is mentioned above but still not working

[2020-01-21 14:13] zoonman commented on #45
You need to make sure you have got the settings right. Pull down the recent example. It was tested by me and if all the settings correct it should work.

[2020-01-21 16:39] nik-endozo commented on #45
`public function linkedin(Request $request) {
    $client = new Client(
      '81dq4781o20d9j',
      'Y6joNYpZDFkYb0Os'
    );
    $client->setRedirectUrl($client->getRedirectUrl());
    $client->setApiRoot('https://api.linkedin.com/v2/');
    if ($request->get('code') != null) {
      $client->setRedirectUrl($client->getRedirectUrl());
      $access_token = $client->getAccessToken($request->get(

[2020-01-21 16:47] nik-endozo commented on #45
![Screen Shot 2020-01-22 at 12 46 29 AM](https://user-images.githubusercontent.com/49432318/72824730-b8c43b00-3cb0-11ea-91fa-3c3de37294f7.png)
What could I be lacking here?

[2020-01-22 02:33] zoonman commented on #45
Check if your has permissions:

<img width="1104" alt="Screen Shot 2020-01-21 at 21 24 59" src="https://user-images.githubusercontent.com/576297/72860495-f74bfc80-3c94-11ea-9d0e-0954e68bae56.png">

Next, use code from this example https://github.com/zoonman/linkedin-api-php-client/blob/master/examples/index.php and development version of the code.
There is no official release at this moment so pac

[2020-01-22 15:24] 0xcrypto commented on #45
Is that your client ID and client secret? You don't want them to be publicly visible here...

[2020-02-03 08:09] nik-endozo commented on #45
Just a test. Not gonna use in production.

[2020-03-15 10:47] ossigeno opened #48 "Scope.php not same as in src"
1. Environment
PHP 7.3

2. Steps to reproduce
composer require zoonman/linkedin-api-php-client

In the Scopes.php file it contains only 5 constants:-
[code]

It does not match:-
https://github.com/zoonman/linkedin-api-php-client/blob/master/src/Scope.php

[2020-03-16 06:13] iamsalnikov commented on #48
@ossigeno, I suppose composer installed version [0.0.14](https://github.com/zoonman/linkedin-api-php-client/tree/0.0.14). File `Scope.php` had been changed since this version, but new version was not released. Try to require `dev-master` version.

[2020-03-16 12:23] zoonman commented on #48
The installed version matches the latest released version.

The master branch has been receiving updates to upgrade to Linkedin API v2 but it is slightly unstable and not well tested.

You can use it at your own risk by setting version to `dev-master`.
Read more here about versioning https://getcomposer.org/doc/articles/versions.md

[2020-03-16 14:08] AaronDunphy commented on #48
@zoonman would you like another pair of hands to help with getting this new v2 implementation released?

[2020-03-16 14:13] zoonman commented on #48
@AaronDunphy I wouldn't mind someone helping me to perform functional testing.
I tested some basics but I haven't done through walktrhough because I don't have app with full permissions (marketing, business etc).

[2020-04-07 22:38] simonbuehler commented on #33
@snake2401 how did you work around , i have the same requirement!

[2020-04-13 09:43] ponnnarasi14 opened #49 "how can i schedule post on linkedin using API"
# What? Where? When?

When you are going to report a new issue, include the following information

1. Environment
2. Steps to reproduce

[2020-05-01 12:49] sabali33 commented on #31
Hi
In case the mistake was coming from the request method. I was doing a post request to https://api.linkedin.com/v2/organizationAcls?q=roleAssignee, instead if a get request.

[2020-05-13 17:22] iometrine opened #50 "getCurrentScheme doesn't work behing a load balancer"
Please find the fix code below code :)

# What?client.php Where?src folder When? right now :)

When you are going to report a new issue, include the following information

1. Environment : all

2. Steps to reproduce : test connection  over kubernetes docker stack

    /**
     * Retrieve current active scheme
     *
     * @return string
     */
    protected function getCurrentScheme()
    {

[2020-06-24 03:01] shaneiseminger opened #51 "Delete produces GuzzleHttp\Exception\InvalidArgumentException: json_decode error"
When deleting a share via a `DELETE` request to `/v2/ugcPosts/{urn}`, LinkedIn returns an empty string. Then when the response is passed through `Client::responseToArray($response)`, Guzzle throws a `GuzzleHttp\Exception\InvalidArgumentException` due to the empty string.

PR forthcoming.

[2020-07-29 21:21] satyapriya18 commented on #31
Hi did you guys get any solution to get the companies? I'm getting the same issue for v2.

[2020-11-13 18:00] fayas668 commented on #51
any update??

[2020-12-07 02:32] Muizz-DS commented on #41
okkkk